@media only screen and (min-width: 30rem) {
    
    .activity-card {
        min-width: 450px;
        grid-template-areas:
        "photo name"
        "photo description"
        "photo location";   
        }

    .activity-card .activity-photo {
        width: 300px;       
    }
}