/* Colors
Forest green: #228B22
Dark forest green: 0B2B26
Partner colors: 
Crimson or magenta-maroon #8b224c 
and 
Deep cyan blue #22768b

*/

/* Global */
* {
    font-family: Roboto, helvetica, sans-serif;
    box-sizing: border-box;
}

/* Header */

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px black;
    column-gap: 6px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 3px;
}

header span {
    font-size: 1.2rem;
    /* color: #228B22; */
    color: #0B2B26;
}

/* Hamburger */
.hamburger {
    background: none;
    border: none;
    color: #8b224c;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before
{
    content: "\00d7";
    font-size: 2rem;
}

/* Navigation */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 0.8rem 10px;
    color: #22768b;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: #d6fffe;
}

h1 {
    margin: 10px;
}

h2 {
    padding: 10px;
}

section img {
    padding: 10px;
}

/* Main */
/* .grid {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 2rem;
}

.grid section:nth-of-type(3) {
    grid-column: 1/-1;
} */

/* Footer */
footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 6px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: solid 1px #ccc;
    border-radius: 4px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}